body {
    font-family: sans-serif;
  }
  
  #parent {
    height: 400px;
    width: 300px;
    background-color: red;
    /* display: flex; */
    display: block;
    padding: 10px;
    /* text-align: center; */
    /* position: relative; */
  }
  #child {
    height: 100px;
    width: 120px;
    background-color: blue;
    margin: 40% auto;
    /* position: absolute; */
    /* margin-left: 16%; */
    /* top: 30%; */
    /* margin: auto; */
    /* transform: translateY(125px); */
    /* lets calculate % */
    /* transform: translate(50%, 130px); */
    /* display: inline-block; */
  }
  